<footer>
  <a name="contact" id="contact"></a>
  <div class="first">
    <p>Please feel free to get in touch via <a href="mailto:{{ site.email }}">email</a> and <a href="http://twitter.com/{{ site.twitter_username }}">twitter</a>.</p>
    <p>I'm available for freelance work and keen to hear from you.</p>
  </div>
  <div class="second">
    <p>Email <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    <p><a href="http://twitter.com/{{ site.twitter_username }}" rel="me">{{ site.twitter_username }}</a> on Twitter</p>
    <p><a href="https://github.com/{{ site.github_username }}" rel="me">{{ site.github_username }}</a> on Github</p>
    <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>
</footer>

