
/**
 * Responsive Grid
 */
@media screen and (min-width: 36em) {
  [class|="grid"] { float: left; }
  .grid-2 {
    width: 50%;
    padding-right: $spacing;
    &:last-child {
      padding-right: 0;
    }
  }
  .grid-3 { width: 33.33333%; }
}

.l {
  float: left;
  margin: 0.2em 0.5em 0.5em 0;
}
.r {
  float: right;
  margin: 0.2em 0 0.5em 0.5em;
}

section, article {
  margin: 0 0 1.618em 0;
  &:after {
    font-size: 0pt;
    content: ' ';
    clear: both;
    display: block;
  }
}
#maheed {
  float: left;
  height: 4em;
  margin-left: $spacing;
  @media screen and (max-width: 29.25em) {
    height: 2.55em;
  }
  @media screen and (max-width: 19.25em) {
    height: 1.55em;
  }
}
header {
  margin: 0;
  line-height: 1em;
  background: #000;
  z-index: 2;
  position: relative;
  padding-top: $spacing;
  border-bottom: 2px solid $highlight;

  h1 {
    font-size: 4.1em;
    line-height: 0.8em;
    margin: 0px;
    border: none;
    &, a {
      color: $complement;
    }
    @media screen and (max-width: 29.25em) {
      font-size: 2.55em;
    }
    @media screen and (max-width: 19.25em) {
      font-size: 1.55em;
    }
  }
  h2 {
    margin: 0 0.06em 0.9em;
    color: $highlight;
    border: none;
    font-size: 1.618em;
    @media screen and (max-width: 29.25em) {
      font-size: 1em;
    }
    @media screen and (max-width: 19.25em) {
      font-size: 0.618em;
    }
  }
  nav {
    padding: 0 $spacing/2;
    ul {
      @include transition(all 1s);
      li {
        display: inline-block;
        padding: 0 0.5em;
        margin: 0;
        font-size: 0pt;
        
        a {
          display: block;
          white-space: nowrap;
          font-family: 'Orbitron', sans-serif;
          font-size: 12pt;
          text-decoration: none;
          color: $text-light;
          font-weight: bold;
          padding: 0 $spacing/2;
          line-height: 2em;
          color: $complement;

          &:hover {
            color: $text-dark;
            background-color: $highlight;
          }
        }
      }
    }
  }
}

#fixed-header {
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  border-bottom: 2px solid $highlight;

  top: 0;
  width: 100%;
  padding: 0 0 0 $spacing;
  
  svg {
    height: 1em;
  }
  & > svg {
    height: 2em;
  }
  h1 {
    flex-grow: 1;
    font-size: 1em;
  }
  line {
    stroke: $complement;
    @include transition(stroke 1s);
  }
  a {
    padding: $spacing/2 $spacing;
    &:hover {
      background-color: $complement;
      line {
        stroke: $text-dark;
      }
    }
  }
}
footer {
  border-top: 2px solid $complement;
  padding: $spacing;
  margin: $spacing 0;
  clear: both;
  &:after {
    font-size: 0pt;
    content: ' ';
    clear: both;
    display: block;
  }
  svg {
    height: 3em;
    width: 3em;
    vertical-align: bottom;
  }
  .mail-ico {
    font-size: 3em;
    font-weight: bold;
    line-height: 1em;
  }
  @media screen and (min-width: $grid-collapse) {
    .first, .second {
      float: left;
      width: 48%;
    }
    .first {
      margin-right: 4%;
    }
    .second {
      text-align: right;
    }
  }
}
