
.thumbnail {
  float: left;
  margin: 0 1em 0.5em 0;
  width: 100px;
}

time {
  float: right;
}

.article-list article h2 {
  border-bottom: 1px solid $complement;
  img {
    float: left;
    width: 100px;
    margin: 0 1em 1em 0;
  }
}

.suffix {
  padding-bottom: $spacing;
  &:before {
    content: ' ';
    display: block;
    clear: both;
  }
}
.terms {
  margin: 0;
  margin-bottom: 0.5em;
  list-style: none;
  border-bottom: 1px solid $complement;
  
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
  li {
    float: left;
    margin-right: $spacing / 2;
    white-space: nowrap;
    background: $complement;
    padding: 0 $spacing;
    color: $text-dark;
    border-radius: $spacing / 2 $spacing / 2 0 0;
  }
}

#about {
  padding-top: $spacing;
}

#heed {
  width: 100%;
  .last img {
    vertical-align: top;
  }
  > div {
    position: relative;
    text-align: center;
    padding: 1em;

    > div {
      margin: auto;

      img {
        width: 20%;
        float: left;
        padding: 2%;
      }
    }
  }
  &:after {
    content: ' ';
    clear: both;
    display: block;
  }
}

article > p > img, #code-post > p > img {
  &.l {
    float: left;
    margin: $spacing/2 $spacing/2 $spacing/2 0;
  }
  &.r {
    float: right;
    margin: $spacing/2 0 $spacing/2 $spacing/2;
  }
}

#portfolio {
  &:after, > p {
    content: ' ';
    display: block;
    clear: both;
    margin: 1em;
  }
}
#code {
  article {
    margin-bottom: $spacing;
  }
  .terms, .terms li, h2 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  > p.suffix {
    margin-top: $spacing * 2;
  }
}
#code-list {
  h1 {
    border-bottom: none;
  }
  article > a img {
    float: left;
    margin-right: $spacing;
  }
}

#code-post {
  h1 {
    margin-bottom: 0;
  }
}
#http404 {
  padding: $spacing * 2;
  text-align: center;
  color: $highlight;
  h1 {
    border: none;
  }
  > div {
    position: relative;
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    display: inline-block;
    > div {
      position: absolute;
      top: 0;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}
.slides {
  position: relative;
  margin: 0 1em;
  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    opacity: 0;
    transition: opacity 1s;

    &.live {
      opacity: 1;
      z-index: 10;
    }
  }
}

.addendum {
  margin-bottom: 0.5em;
  img {
    height: 1em;
  }
  li img {
    width: 40px;
  }
}
#portfolio-entry {
  img.title {
    margin: 1.2em 0;
    clear: both;
  }
}
#pillars {
  article {
    h2 {
      border-bottom: 1px solid $complement;
    }
    svg {
      max-height: 80vw;
    }
  }
}


@media screen and (min-width: $grid-collapse / 2) {
  #pillars {
    article {
      svg {
        max-height: 38vw;
      }
    }
  }
}
@media screen and (min-width: $grid-collapse) {
  #pillars {
    article {
      svg {
        max-height: 22vw;
      }
    }
  }
  #services {
    .first, .last {
      float: left;
      width: 33.33%
    }
    .first {
      text-align: right;
      margin-left: -100%;
    }
   .last {
      margin-left: -33.3333%;
    }
  }
  #portfolio-entry {
    aside {
      float: right;
      width: 35%;
      padding-left: $spacing;
    }
    img.title {
      float: left;
      width: 65%;
    }
    article {
      margin-right: 35%;
    }
  }
  #heed {
    float: left;
    > div {
      margin: 0 33.3333%;
    }
  }
  .slides {
    margin: 0;
    > div {
      padding: 0 1em;
    }
  }
}


